* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FAFAFA;
}

body.mockup {
  background-image: url(../img/mockups/1440.png);
  background-position: top center;
  background-repeat: no-repeat;
}

body * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.landingWraper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.compact {
  display: none;
}

.full {
  display: block;
}

.section {
  width: 1440px;
  position: relative;
  height: 800px;
  overflow: hidden;
}

.section h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.section p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 25px;
}

.section.Left {
  background-color: white;
}

.section.Left section {
  margin: 192px 0 0 159px;
}


.section.Right,
.section.Center {
  color: white;
  background-color: rgb(135, 150, 150);
}

.section.Right section {
  margin: 192px 0 0 799px;
}

.section.Center {
  text-align: center;
  margin: 0 78px;
}

.section.Center section {
  margin: 192px 0 0 12px;
}

.section.Center p {
  margin-top: 25px;
}
.section.Center footer p {
  margin: 113px 0 0 4px;
  font-size: 16px;
}

.pic {
  display: block;
  background-size: cover;
}

#pattern {
  width: 30px;
  height: 4px;
  margin: 61px 0 0 -1px;
  background-color: rgb(80, 227, 194);
}

.pic#img1 {
  margin: -308px 0 0 751px;
  width: 531px;
  height: 567px;
  background-image: url(../img/content/pic1.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.pics.pic {
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}
.pics {
  display: flex;
  justify-content: space-between;;
  align-items: flex-start;
  width: 486px;
  height: 100%;
  margin: -313px 0 0 159px;
}

.pic#img2_1 {
  width: 140px;
  height: 478px;
  background-image: url(../img/content/pic2_1.png);
}

.pic#img2_2 {
  width: 141px;
  height: 397px;
  background-image: url(../img/content/pic2_2.png);
}

.pic#img2_3 {
  width: 141px;
  height: 318px;
  background-image: url(../img/content/pic2_3.png);
}

.pic#img3{
  margin: -163px 0 0 639px;
  width: 762px;
  height: 404px;
  background-image: url(../img/content/pic3.png);
}

.btns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 94px;
  margin: 58px 0 0 -13px;
}
.social-likes_single-w {
  margin-top: 9px;
}

@media screen and (max-width: 1180px) {
  body.mockup {
    background-image: url(../img/mockups/1180_landscape.png);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .section {
    width: 1180px;
    height: 800px;
  }

  .section p {
    margin-top: 26px;
  }

  .section.Left section {
    margin: 191px 0 0 30px;
  }

  .section.Right section {
    margin: 192px 0 0 670px;
  }

  .section.Center {
    margin: 0 78px;
  }

  .section.Center section {
    margin: 192px 0 0 12px;
  }

  .section.Center p {
    margin-top: 25px;
  }
  .section.Center footer p {
    margin: 113px 0 0 4px;
  }

  #pattern {
    margin: 57px 0;
  }

  .pic#img1 {
    margin: -358px 0 0 620px;
  }

  .pics {
    margin: -363px 0 0 30px;
  }

  .pic#img3 {
    margin: -212px 0 0 508px;
  }

}

@media screen and (max-width: 1179px) {
  body.mockup {
    background-image: url(../img/mockups/1180_portrait.png);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .section {
    width: 1179px;
    height: 568px;
  }

  .section p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }

  .section h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .section.Left section {
    margin: 137px 0 0 191px;
  }

  .section.Right section {
    margin: 137px 0 0 645px;
  }

  .section.Center {
    margin: 0 78px;
  }

  .section.Center section {
    margin: 137px 0 0 9px;
  }

  .section.Center p {
    margin: 18px 0 0 -3px;
  }
  .section.Center footer p {
    margin: 130px 0 0 2px;
    font-size: 13px;
  }

  #pattern {
    margin: 42px 0;
    width: 22px;
    height: 3px;
  }

  .pic#img1 {
    width: 377px;
    height: 407px;
    margin: -258px 0 0 611px;
  }

  .pics {
    width: 347px;
    margin: -260px 0 0 190px;
  }

  .pic#img2_1 {
    width: 99px;
    height: 339px;
  }

  .pic#img2_2 {
    width: 99px;
    height: 283px;
  }

  .pic#img2_3 {
    width: 100px;
    height: 227px;
  }

  .pic#img3 {
    width: 540px;
    height: 286px;
    margin: -154px 0 0 532px;
  }

  .btns {
    margin: 42px 0 0 -10px;
    height: 10px;
  }
  .btn.large {
    width: 214px;
    font-size: 12px;
    height: 36px;
    line-height: 37px;
  }

  .btn.small {
    font-size: 13px;
  }

}


@media screen and (max-width: 840px) {
  body.mockup {
    background-image: url(../img/mockups/840_landscape.png);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .section {
    width: 840px;
  }

  .section.Left section {
    margin: 137px 0 0 22px;
  }

  .section.Right section {
    margin: 137px 0 0 476px;
  }

  .section.Center {
    margin: 0 78px;
  }

  .section.Center section {
    margin: 137px 0 0 9px;
  }

  .section.Center p {
    margin: 18px 0 0 -3px;
  }
  .section.Center footer p {
    margin: 130px 0 0 2px;
  }

  .pic#img1 {
    margin: -258px 0 0 440px;
  }

  .pics {
    margin: -260px 0 0 21px;
  }

  .pic#img3 {
    margin: -155px 0 0 361px;
  }

}

@media screen and (max-width: 839px) {
  body.mockup {
    background-image: url(../img/mockups/840_portrait.png);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .section {
    width: 839px;
    height: 1024px;
  }

  .section.Left section {
    margin: 137px 0 0 149px;
  }

  .section.Right section {
    margin: 137px 0 0 346px;
  }

  .section.Center {
    margin: 0 78px;
  }

  .section.Center section {
    margin: 187px 0 0 9px;
  }

  .section.Center p {
    margin: 18px 0 0 -3px;
  }
  .section.Center footer p {
    margin: 486px 0 0 0px;
  }

  .pic#img1 {
    width: 541px;
    height: 584px;
    margin: 58px 0 0 148px;
  }

  .pics {
    width: 488px;
    margin: 100px 0 0 173px;
  }
  .pic#img2_1 {
    width: 140px;
    height: 478px;
  }

  .pic#img2_2 {
    width: 141px;
    height: 397px;
  }

  .pic#img2_3 {
    width: 141px;
    height: 318px;
  }

  .pic#img3 {
    width: 762px;
    height: 404px;
    margin: 149px 0 0 157px;
  }

  .btns {
    margin-top: 92px;
  }

}

@media screen and (max-width: 768px) {
  body.mockup {
    background-image: url(../img/mockups/768.png);
    background-position: top center;
    background-repeat: no-repeat;
  }
}

/* Retina pics */

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .pic1 { background-image: url(../img/content/pic1@2x.jpg); }
  .pic2#img1 { background-image: url(../img/content/pic2_1@2x.jpg);
  .pic2#img2 { background-image: url(../img/content/pic2_2@2x.jpg); }
  .pic2#img3 { background-image: url(../img/content/pic2_3@2x.jpg); }
  .pic3 { background-image: url(../img/content/pic3@2x.jpg); }
}
