.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
}

.logo {
  display: block;
  width: 84px;
  height: 24px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
}
